{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Bienvenue sur le Forum des Passions</h1>

    <p>
    Le forum Passion est ouvert à tous et toutes, et vous y trouverez plein d'infos et de l'aide.<br> 
    <br> 
    Petit rappel : tout compte avec aucun message et datant de plus d'un mois peut être supprimé.<br> 
    Donc n'oubliez pas de vous présenter pour ne pas perdre votre accès à l'ensemble des sections. <br> 
    <br> 
    I. REGLES <br> 
    Les hors-sujet et langage SMS sont proscrits. <br> 
    Les administrateurs et les modérateurs du forum sont vos interlocuteurs privilégiés si vous rencontrez un quelconque problème sur le forum. <br> 
    <br> 
    II. PRESENTATION DU FORUM <br> 
    Le Forum propose des échanges basés uniquement sur les passions communes de type musique, nature, cinéma... <br> 
    <br> 
    Bienvenue encore parmi nous, et bonne visite du forum ! <br> 
    </p>

{% endblock %}
