{% extends 'base.html.twig' %}

{% block title %}Ajouter un post/message{% endblock %}

{% block body %}
    {% if edit %}
    <h1>Editer un post/message</h1>
    {% else %}
    <h1>Ajouter un post/message</h1>
    {% endif %}
<div class="add">
    {{ form_start(formAddPost)}}
    {{ form_row(formAddPost)}}
    {{ form_end(formAddPost)}}
</div>
{% endblock %}