{% extends 'base.html.twig' %}

{% block title %}Hello TopicController!{% endblock %}

{% block body %}
    <h1>Liste des topics/sujets</h1>

    {% for topic in topics %}
        {{topic}}<br>
    {% endfor %}

{% endblock %}
